@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #34495e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.loading {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 10px solid #2ecc71;
    position: relative;

}